{% extends 'taskmaster/base.html' %}
{% block pagetitle %}
Login Page
{% endblock %}
{% block pagename %}
	<span class="w3-text-deep-purple">
        <b>Log In</b>
    </span>
{% endblock %}

{% block content %}
<div class="w3-card w3-section w3-round w3-center w3-padding"  style="width:50%;margin:auto">
    <form method="post" class="w3-container">
        {% csrf_token %}
        <p>
        	{{ form.as_p }}
        </p>
        <p>Don't have an account? <a href="/register" class="w3-text-blue">Sign Up</a> here.</p>
        <button type="submit" class="w3-btn w3-blue w3-round w3-border-blue w3-hover-white w3-border w3-border-blue">Log In</button>
    </form>
</div>
{% endblock %}
