{% extends 'taskmaster/base.html' %}
{% load widget_tweaks %}
{% block pagename %} Sign Up {% endblock %}
{% block content %}
<div class="w3-card-4 w3-round" style="width:50%;margin:auto">
    <div class="w3-container w3-blue w3-section">
        <h3>Let's create new account</h3>
    </div>
    <form method="POST" class="w3-container w3-padding">
        {% csrf_token %}

        <div>
            <label>Username</label>
        {{form.username|add_class:'w3-input w3-border'}}
        </div>

        <div>
            <label>Email</label>
        {{form.email|add_class:'w3-input w3-border'}}
        </div>

        <div>
            <label>Password</label>
        {{form.password1|add_class:'w3-input w3-border'}}
        </div>

        <div>
            <label>Confirm Password</label>
        {{form.password2|add_class:'w3-input w3-border'}}
        </div>

        <div>
            <input type="checkbox" class="w3-check w3-green" required>
            <label>I agree to the <a href="#" class="w3-text-green">Terms and privacy policy</a>.</label>
        </div>

        <div class="w3-section w3-center">
            <button type="submit" class="w3-button w3-round w3-large w3-border w3-text-green w3-border-green w3-hover-green"><b>Create New Account</b></button>
        </div>

        <div class="w3-center">
            <p>Already have an account? <a href="{% url 'login' %}" class="w3-hover-text-blue"><b>Sign In</b></a></p>
        </div>
    </form>
</div>

{% endblock %}