<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'taskmaster/w3.css' %}">
    <title>Task Master | {% block pagetitle %}{% endblock %}</title>
</head>

<body>
    <div class="w3-sidebar w3-bar-block w3-deep-purple w3-border-right" style="width:15%">
      <a href="{% url 'taskmaster:home' %}" class="w3-bar-item w3-margin-bottom">
        <img src="{% static 'taskmaster/img/taskmaster.png' %}" alt="Brand Logo" style="width:100%;">
      </a>
      <a href="{% url 'taskmaster:home' %}" class="w3-bar-item w3-button w3-large w3-hover-white">Home</a>
      <a href="{% url 'taskmaster:inbox' %}" class="w3-bar-item w3-button w3-large w3-hover-white">Inbox</a>
      <a href="{% url 'taskmaster:master' %}" class="w3-bar-item w3-button w3-large w3-hover-white">Masterlists</a>
    </div>

    <div style="height:100vh;margin-left:15%;">
      <div class="w3-bar w3-light-grey w3-padding-small">
        <span class="w3-bar-item w3-left">
          {% block pagename %}{% endblock %}
        </span>
        
        {% if user.is_authenticated %}
          <a href="{% url 'account_logout' %}" class="w3-bar-item w3-button w3-round w3-pink w3-border w3-border-pink w3-hover-white w3-right">
            <b>Log Out</b>
          </a>
          <a href="{% url 'taskmaster:task_create' %}" class="w3-bar-item w3-button w3-margin-right w3-round w3-deep-purple w3-border w3-border-deep-purple w3-hover-white w3-right"><b>+ New Task</b></a>
      
        {% else %}
          <a href="{% url 'account_signup' %}" class="w3-bar-item w3-button w3-round w3-yellow w3-border w3-border-yellow w3-hover-white w3-right w3-margin-left">
            <b>Sign Up</b>
          </a>
          <a href="{% url 'account_login' %}" class="w3-bar-item w3-button w3-round w3-deep-purple w3-border w3-border-deep-purple w3-hover-white w3-right">
            <b>Log In</b>
          </a>
        {% endif %}
      </div>
        

      <div class="w3-container w3-white">

        {% block info %}
        {% endblock info %}

        {% block content %}
        {% endblock %}
        
      </div>

    </div>
</body>
</html>